
Conversiecalculator/.vs/Conversiecalculator/v17/.suo
Conversiecalculator/bin/Debug/Conversiecalculator.exe
*.pdb
*.cache
*.resources
*.exe
*.cache
*.cs
*.cs
Conversiecalculator/.vs/Conversiecalculator/v17/.suo
Conversiecalculator/obj/Debug/MainWindow.g.i.cs
